{% extends 'base.html' %}

{% block content %}
  <h2>{{ team.name }}</h2>
  <p><strong>Country:</strong> {{ team.country }}</p>
  <p><strong>Sport:</strong> {{ team.sport_type }}</p>

  <h3>Events in which he participates</h3>
  <ul>
    {% for event in events %}
      <li><a href="{% url 'event_detail' event.id %}">{{ event.name }}</a></li>
    {% empty %}
      <li>Does not participate in any event.</li>
    {% endfor %}
  </ul>

  <h3>Team athletes</h3>
  <ul>
    {% for athlete in athletes %}
      <li><a href="{% url 'athlete_detail' athlete.id %}">{{ athlete.name }}</a></li>
    {% empty %}
      <li>There are no athletes on this team.</li>
    {% endfor %}
  </ul>
  {% if user == team.creator %}
    <p>
      <a href="{% url 'edit_team' team.id %}">✏️ Editar</a> |
      <a href="{% url 'delete_team' team.id %}">🗑️ Eliminar</a>
    </p>
  {% endif %}

  <p><a href="{% url 'teams_list' %}">← Back to the list</a></p>
{% endblock %}
